<%= render "shared/errors", obj: @student %>

<%= form_with(model: student, local: true) do |form| %>



  <div class="field">
    <%= form.label :student_name %>
    <%= form.text_field :student_name %>
  </div>

  <div class="field">
    <%= form.collection_select :school_id, School.order(:school_name), :id, :school_name do |cb| %>
      <% cb.label {cb.check_box(class: "checkbox") + cb.text} %>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
