<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @student.student_name %>
</p>

<p>
  <strong>School</strong>
  <%= @assigned_school.school_name %>
  <%= link_to 'Go to school link', school_path(@assigned_school) %>
</p>

<p><strong>Registered Courses:</strong></p>
<ul>
  <% @course_selection.each do |s| %>
    <li><%= s.course_code %></li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
